.main-container {
  margin: 50px auto;
  width: 50vw;
  min-width: 400px;
}

.show-container {
  width: 500px;
  margin: 0 auto;
}

.index-container {
  width: 100%;
  margin: 0;
  position: relative;
}
