@import 'colors';

.form-container {
  margin: 0 auto;
  width: 500px;
  postion: relative;

  label {
    color: $light-gray;
    font-weight: 400;
    height: 100%;
    margin-right: 20px;
    padding: 7px 0;
    vertical-align: top;
  }

  input[type="text"], select {
    height: 36px;
  }

  input[type="text"], select, textarea {
    border: 1px solid $very-light-gray;
    width: 100%;
    margin-bottom: 15px;
    background: none repeat scroll 0 0 #fff;
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    box-sizing: border-box;
    color: $almost-black;
    font-family: opensans,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    padding: 3px 10px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
  }

  .button {
    display: inline-block;
  }

  .button-set {
    position: relative;
    margin: 0 auto;
    width: 100%;

    .button {
      width: 50%;
    }
  }
}
